@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@400;700;800&display=swap');
:root{
    /* primary-color */
--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);

/* Neutral color */

--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: var(--Off-white);
}
.flex-container{

    position: relative;
}

.log-and-open-close-btn{

    display: flex;
    justify-content: space-between;
    margin: 2rem 1.5rem;
}
.logo img,.btn-opne{

    width: 70%;
}
.nav-bar{

    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: var(--Off-white);
    width: 65%;
    height: 100vh;
}
.nav-bar li{

    list-style: none;
    margin-bottom: 2rem;
    padding-left: 1rem;
    margin-top: 2rem;
    font-size: 1.2em;
    font-weight: 400;
}
.nav-bar li a{

    color: var(--Dark-Darkh-blue);
    text-decoration: none;
}
.nav-bar li a:hover{

    color: var(--Soft-red);
    cursor: pointer;
}
.btn-close,.hero-image-desktop{
    display: none;
}
.hero-image-mobile img{

    width: 100%;
}
main{

    margin: 0rem 1.5rem;
}
h1{

    font-weight: 800;
    font-size: 2.5em;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.para p {

    font-size: 0.95em;
    line-height: 25px;
    font-weight: 400;
    color: var(--Grayish-blue);
    margin-bottom: 2rem;
}
.read-more{

    padding: 0.8rem 2.5rem;
    background-color: var(--Soft-red);
    text-decoration: none;
    color: var(--Off-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85em;
}
.read-more:hover{
    background-color: var(--Very-dark-blue);
}
.aside{

    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0.8rem;
}
.aside-section-1 h1{
    font-size: 1.7em;
    font-weight: 700;
    color: var(--Soft-orange);
    padding-bottom: 1.5rem;
}
h2{
    font-size: 1em;
}
.paragraph p{
   padding-right: 1rem;
   font-size: 0.85em;
   font-weight: 400;
   line-height: 25px;
   padding-bottom: 1.5rem;
   padding-top:0.5rem;
   padding-right: 3.5rem;
   border-bottom: 1px solid var(--Dark-grayish-blue);
   margin-bottom: 1rem;
}
.aside-section-3 p{

    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}
footer{
    margin: 0rem 1.5rem;
}

.reviewing-section{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 1rem 0rem;
}
.image-block{

    width: 30%;
}
.image-block img{
    width: 100%;
}
.info-block{

    padding-left: 1rem;
    width: 70%;
    padding-top: 1rem;
}
.info-block h1{

    padding: 0;
    margin: 0;
    font-size: 1.5em;
    color: var(--Grayish-blue);
}
h3{

    margin: 0.6rem 0rem;
}
.info-block p{

    margin-top: 0.9rem;
    color: var(--Grayish-blue);

}
h3:hover{  
    color: var(--Soft-red);
    cursor: pointer;
}
@media(min-width:90em){
    

header,main,footer{

    margin: 2rem 6.5rem;
    }
    .log-and-open-close-btn{

        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 4rem;
    }
    .nav-bar{
        display: flex !important;
       flex-direction: row;
       justify-content: flex-end;
       height: auto;
       margin: 0;
       top: 0;
    }
    .nav-bar li{

        list-style: none;
        margin: 0;
    }
    .nav-bar li a{
        text-decoration: none;
        font-size: 1em;
        padding-left: 1rem;
        color: var(--Very-dark-blue);
    }
    .btn-open,.btn-close{
        display: none !important;
    }
    main{

        display: grid;
        min-height: 10rem;
        grid-gap: 30px;
        grid-template-areas: 
                   "left left left right"
                   "left left left right";
    }
    .left{

        grid-area: left;
    }
        .hero-image-mobile{
        display: none;
    }
    .hero-image-desktop {
        display: block;
    }
    .hero-image-desktop img{

        width: 100%;
    }
    .text-block{

        display: flex;
    }
    .level-1-heading{

        width: 50%;
    }
    h1{
      width: 90%;
      font-size: 3.5rem; 
    margin-bottom: 0;
    padding-bottom: 0;
    }
    .para{
        padding-right: 0rem;
        width: 50%;
        padding-top: 2rem;
        font-size: 1.3em;
    }
    .para p{
        
        color: var(--Very-dark-blue);
        width: 100%;
        padding-bottom: 2rem;
    }

    .aside{

        grid-area: right;
        margin: 0;
    }
    .aside-section-1 h1{
        
        padding-bottom: 2rem;
    }
    h2{

        padding-bottom: 0.5rem;
        padding-top: 1.5rem;
    }

    .paragraph p{

       padding-bottom: 2.5rem;
       
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
    .reviewing-section{

        display: flex;
        align-items: flex-start;
    }
    .info-block h1{

        font-size: 2.5em;
    }
    h3{
        padding-top: 0.5rem;
    }
    .info-block p{

        font-size: 1em;
        padding-right: 2.7rem;
    }
}